<h1>Airlines Routes</h1>
<div class="mainView">
    <div style="float: left;">
        <h2>Airlines<span style="font-size: 14px; color: white"> hover over an airline bar to show its routes</span>
        </h2>
        <svg id="AirlinesChart"></svg>
    </div>
    <div style="float: left; clear: both"></div>
    <div style="position:relative; float:left">
        <h2>Airports</h2>
        <svg id="Map"></svg>
    </div>
</div>
<div class="loaders">
    <p>Downloading 5.4MB of Data...</p>
    <div class="two">
    </div>
</div>